// colors

$color-black: #000;
$color-white: #fff;
$color-gray: #f7f7f7;

$color-text: #3f3e46;
$color-link: #1fa3d8;

$color-primary: #2b7bf3;
$color-warning: #e8ae2b;
$color-danger: #da4a5e; 
$color-success: #31c365;

$size-mk : 0;
$size-xs : 400;
$size-sm : 700;
$size-md : 1000;
$size-lg : 1200;

// fonts

$font-main: arial,verdana;
